<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
<div class="wrap">
  <div class="header">
    <img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/logo.png" alt="">
    
      <ul class="menu">
        <li class="mr-64"><a href="#">系列鏡框</a></li>
        <li class="mr-64"><a href="location.html">門市據點</a></li>
        <li class="mr-64"><a href="./blog.html">部落格</a></li>
        <li class="mr-64"><a href="FAQ.html">常見問題</a></li>
      </ul>
    
  </div>
  <%- contents %>

  <div class="footer">
    <div class="footer-in">
      <div class="footer-top mb-36">
      <ul class="footer-menu fz-16">
        <li class="mr-48"><a href="#">首頁</a></li>
        <li class="mr-48"><a href="#">系列鏡框</a></li>
        <li class="mr-48"><a href="#">門市據點</a></li>
        <li class="mr-48"><a href="#">部落格</a></li>
        <li class="mr-48"><a href="#">常見問題</a></li>
      </ul>
        
          <ul class="social-media">
            <li class="mr-32"><a href=""><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/icon-fb.svg" alt=""></a></li>
            <li class="mr-32"><a href=""><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/icon-ig.svg" alt=""></a></li>
            <li class="mr-32"><a href=""><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/icon-line.svg" alt=""></a></li>
          </ul>
        
        </div>
      <ul class="footer-content">
        <li class="fz-36 mb-16"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/icon-phone.svg" alt="">0800-000-000</li>
        <li class="fz-36"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/icon-mail.svg" alt="">glasses@business.com</li>
      </ul>
      <div class="footer-end">
      <p class="fz-16">Copyright © 2020 Glasses.All rights reserved.</p>
        <ul class="privacy-service fz-14">
          <li class="mr-48">隱私權政策</li>
          <li>服務條款</li>
        </ul>
        </div>
    </div>
  </div>
</div>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
